body {
    background-color: #ffffff;
}

.skill {
    display: flex;
    flex-direction: column;
}
.skill .name {
    font-weight: 700;
}
.skill .effect {
    font-style: italic;
}
img[class="icon"] {
    float: left;
    width: 60px;
    height: 100%
}

.sprite {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.switchServer {
    float: right;
    position: relative;
    top: 10px;
}
